@model IEnumerable<ShopAcc.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <p>@item.LoaiGame.tengame</p>
                </div>
                <div class="panel-body">
                    <p><img src="@item.hinh" width="160px" height="256px" alt="hinh thumnail"></p>
                    <p><strong>Rank: </strong>@item.rank</p>
                    <p><strong>Tướng :</strong>@item.tuong</p>
                    <p><strong>Trang phục: </strong>@item.trangphuc</p>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |  @Html.ActionLink("Detail", "Detail", new { id = item.id }) |  @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>


                </div>


                @*<div class="panel-footer clearfix">
                    <div class="pull-right">
                        <div class="DatMua">
                            <a class="btn btn-success" href="@Url.Action("Themgiohang", "GioHang",  new { @id = item.id, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>
    }
</div>
@Html.ActionLink("Create", "Create", "Theloai")